//Colors
$red: #E65C43;
$white: #FFF;
$grey: #666;
$background-color: #F25C43;
$footerbar-color: #F5F6F6;
$footer-color: #30353D;

//Image paths
$background-img: url('../images/bg.gif'); 
$logo: url('../images/logo.png');
$social-media: url('../images/social-media.png');

//Web fonts
$font: 'Roboto', sans-serif;
